@import 'https://code.highcharts.com/css/highcharts.css';

.form-group{
    white-space:nowrap;
    margin: 0%;
}
.form-group div{
    display:inline-block;
    height: 50px;
    vertical-align: middle;
}
.form-group div label{
    font-size: 16px; 
}

.form-group div p{
    font-size: 16px; 
    margin-top: 4%; 
}

.form-group div button{
    margin-top:2%;
}

.panel-group .panel-success{
    width: 46%; 
    margin: 2% 29%;
    font-size: 16px; 
}
.headerBlock{
  padding: 10px 0 0 5%;
  font-weight: 600;
}
.btn-hour-block button {
  width: 100px;
  margin-left: 10px;
}

