<div class="panel-group">
  <div class="panel panel-success">
      <div class="panel-heading">Settings</div>
      <div>
          <span style="margin-left: 5%;">Show data for the last: </span>
          <div class="btn-group" style="padding: 20px;">
              <button (click)="changeLastHoursCount(1)" class="btn btn-success" style="width: 100px; margin-left: 10px;">1 hour</button>
              <button (click)="changeLastHoursCount(6)" class="btn btn-success" style="width: 100px; margin-left: 10px;">6 hours</button>
              <button (click)="changeLastHoursCount(12)" class="btn btn-success" style="width: 100px; margin-left: 10px;">12 hours</button>
              <button (click)="changeLastHoursCount(24)" class="btn btn-success" style="width: 100px; margin-left: 10px;">1 day</button>
              <button (click)="changeLastHoursCount(72)" class="btn btn-success" style="width: 100px; margin-left: 10px;">3 days</button>
          </div>
      </div>
      <div class="form-group">
          <div>
              <p>Select date interval: </p>
          </div>
          <div>
              <my-date-range-picker name="mydaterange" [options]="myDateRangePickerOptions"
                              [(ngModel)]="dataRange" required></my-date-range-picker>
          </div>
          <div>
              <button class="btn btn-success" (click)="changeDateRange(dataRange)">Submit</button>
          </div>
      </div>
      <div class="form-group">
          <div>
              <p>Select metics removing interval:</p>
          </div>
          <div>
              <select class="selectpicker show-tick" [(ngModel)]="interval">
                  <option value="1" selected>1 minute</option>
                  <option value="5">5 minutes</option>
                  <option value="15">15 minutes</option>
                  <option value="30">30 minutes</option>
                  <option value="60">60 minutes</option>
              </select>                      
          </div>
          <div>
              <button class="btn btn-success" (click)="changeInterval(interval)">Submit</button>
          </div>
      </div>
  </div>
</div>

<div id="container" style="width: 50%; float: left;"></div>
<div id='queue-container' style="width: 50%; float: left;"></div>
